{% extends 'base.html.twig' %}

{% block title %}Mineral index{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-4">Mineral index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Continent</th>
                <th>Region</th>
                <th>Pays</th>
                <th>Mine</th>
                <th>Name</th>
                <th>Price</th>
                <th>Gps</th>
                <th>Pureté</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mineral in minerals %}
            <tr>
                <td>{{ mineral.id }}</td>
                <td>{{ mineral.title }}</td>
                <td>{{ mineral.continent }}</td>
                <td>{{ mineral.Region }}</td>
                <td>{{ mineral.pays }}</td>
                <td>{{ mineral.Mine }}</td>
                <td>{{ mineral.name }}</td>
                <td>{{ mineral.Price }}</td>
                <td>{{ mineral.Gps }}</td>
                <td>{{ mineral.Purete }}</td>
                <td>
                    <a href="{{ path('mineral_show', {'id': mineral.id}) }}" class="badge badge-pill badge-success">show</a>
                    <a href="{{ path('mineral_edit', {'id': mineral.id}) }}" class="badge badge-pill badge-info">edit</a>
                    <form method="post" action="{{ path('mineral_delete', {'id': mineral.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mineral.id) }}">
                        <button type="button" class="badge badge-pill badge-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mineral_new') }}" class="btn btn-warning">Create new</a>
{% endblock %}
